.my-select-class {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}
.my-select-class > div {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.grid-filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .filter-Categories,
    .filter-Reviews,
    .filter-Search,
    .filter-GameType,
    .filter-Tags {
        grid-column-start: 3 span;
    }
}